@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:light,bold,lightitalic');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:thin,extra-light,light,regular,bold');

body {
  font-family: "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: large;
  color: black;
}

.topics h2 {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: bold;
  color: #1f9ac9;
}

.topics h2:after {
    display: block;
    margin: 10px 0 0 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #1f9ac9;
    /*width: 140px;*/
}

.topics h3 {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #e69138;
  font-weight: bold;
}

.topics h4 {
  font-family: "Source Sans Pro", Arial;
  color: grey;
  font-weight: bold;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:focus:active, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:focus:active, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:focus:active {
    background-color: #e69138;
}

.btn-primary, .btn-success, .btn-info {
    background-color: #1f9ac9;
    background-image: none;
    border: none;
}

.topicsList:after {
  text-align: center;
  content: "\A  Eric P. Green\A themethodsection.com";
  display: block;
  white-space: pre-wrap;
  padding-top: 30px;
}

.topicsList {
  padding-right: 25px;
}

.topicsHeader {
  margin-top: 15px;
  display: block;
}

.topicsHeader:before {
  content: url(../images/logo.png);
}

.tutorialTitle {
  padding-top: 1em;
  margin-bottom: 0;
  font-size: larger;
  font-weight: bold;
  color: #1f9ac9;;
}

#doc-metadata > h3 {
  padding-top: 0;
  font-size: large;
  font-weight: 300;
  color: black;
}

div.topic.current {
  background-color: #1f9ac9 !important;
  font-weight: bold;
  color: white;
}
